body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: white;
}

#balance {
    font-size: 1.5em;
    margin-top: 20%;
}

#clicker-button {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    border: none;
    background: none;
    -webkit-tap-highlight-color: transparent; /* Отключаем выделение на iOS и Android */
}

#clicker-button img {
    width: 150px;
    height: auto;
    pointer-events: none; /* Отключаем выделение на других браузерах */
}
