body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: white; /* Установите белый фон, если он уже не установлен */
}

#balance {
    font-size: 2em;
    margin-top: 20%;
}

#clicker-button {
    display: block;
    margin: 0 auto; /* Центрирует изображение по горизонтали */
    cursor: pointer;
    border: none; /* Убирает стандартную рамку кнопки */
    background: none; /* Убирает фон кнопки */
}

#clicker-button img {
    width: 100px; /* Или любой другой размер, который вам нужен */
    height: auto;
}
